# Core
Flask==3.1.2
gunicorn==25.0.1

# LangChain
langchain==0.3.25
langchain-core==0.3.25
langchain-openai==0.3.18
langchain-community==0.3.25
faiss-cpu==1.13.2

# Flask/Gunicorn
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
wheel==0.46.3

# Extra
numpy==2.4.2
requests==2.32.5
PyYAML==6.0.3
python-dateutil==2.9.0.post0